In [4]:
# 1.Load the dataset using Pandas and display first and last few records to understand the structure of rows and columns.
import pandas as pd
import numpy as np
df1=pd.read_csv("titanic.csv")
df1.head()
df1.tail()

df2=pd.read_csv("student_performance.csv")
df2.head()
df2.tail()

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
999995,999996,18.0,95.5,4.8,100.0,A
999996,999997,15.7,82.7,6.7,88.3,A
999997,999998,14.2,85.1,5.8,87.9,A
999998,999999,25.3,90.0,5.3,100.0,A
999999,1000000,18.3,84.6,4.1,100.0,A

In [30]:
# 2.Identify numerical, categorical, ordinal, and binary features manually by inspecting column names and values.
print(df1.dtypes)
print(df1.select_dtypes(include=np.number).columns)
print(df1.select_dtypes(exclude=np.number).columns)
print(df1['survived'].unique())
print(df1['pclass'].unique())

print(df2.dtypes)
print(df2.select_dtypes(include=np.number).columns)
print(df2.select_dtypes(exclude=np.number).columns)
print(df2['grade'].unique())

pclass       float64
survived     float64
name          object
sex           object
age          float64
sibsp        float64
parch        float64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object
Index(['pclass', 'survived', 'age', 'sibsp', 'parch', 'fare', 'body'], dtype='object')
Index(['name', 'sex', 'ticket', 'cabin', 'embarked', 'boat', 'home.dest'], dtype='object')
[ 1.  0. nan]
[ 1.  2.  3. nan]
student_id                   int64
weekly_self_study_hours    float64
attendance_percentage      float64
class_participation        float64
total_score                float64
grade                       object
dtype: object
Index(['student_id', 'weekly_self_study_hours', 'attendance_percentage',
       'class_participation', 'total_score'],
      dtype='object')
Index(['grade'], dtype='object')
['A' 'B' 'C' 'D' 'F']

In [20]:
# 3.Use df.info() and df.describe() to understand data types, null values, and statistical summaries.
print(df1.info())
print(df1.describe())

print(df2.info())
print(df2.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   float64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB
None
            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881135     0.498854     0.385027
std       0.837836     0.486055    14.413500     1.041658     0.865560
min       1.000000     0.000000     0.166700     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   student_id               1000000 non-null  int64
 1   weekly_self_study_hours  1000000 non-null  float64
 2   attendance_percentage    1000000 non-null  float64
 3   class_participation      1000000 non-null  float64
 4   total_score              1000000 non-null  float64
 5   grade                    1000000 non-null  object
dtypes: float64(4), int64(1), object(1)
memory usage: 45.8+ MB
None
           student_id  weekly_self_study_hours  attendance_percentage  \
count  1000000.000000           1000000.000000         1000000.000000
mean    500000.500000                15.029127              84.711046
std     288675.278933                 6.899431               9.424143
min          1.000000                 0.000000              50.000000
25%     250000.750000                10.300000              78.300000
50%     500000.500000                15.000000              85.000000
75%     750000.250000                19.700000              91.800000
max    1000000.000000                40.000000             100.000000

       class_participation     total_score
count       1000000.000000  1000000.000000
mean              5.985203       84.283845
std               1.956421       15.432969
min               0.000000        9.400000
25%               4.700000       73.900000
50%               6.000000       87.500000
75%               7.300000      100.000000
max              10.000000      100.000000

In [23]:
# 4.Check unique values in categorical columns to understand data distribution.
print(df1['sex'].unique())
print(df1['embarked'].unique())
print(df1['pclass'].unique())

print(df2['grade'].unique())

['female' 'male' nan]
['S' 'C' nan 'Q']
[ 1.  2.  3. nan]
['A' 'B' 'C' 'D' 'F']

In [33]:
# 5.Identify target variable and input features for ML suitability.
target_titanic='survived'
features_titanic = df1.drop(columns=['survived'])
print(target_titanic)
print(features_titanic.columns)

target_student='grade'
features_student=df2.drop(columns=['grade'])
print(target_student)
print(features_student.columns)

survived
Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')
grade
Index(['student_id', 'weekly_self_study_hours', 'attendance_percentage',
       'class_participation', 'total_score'],
      dtype='object')

In [36]:
# 6.Analyze dataset size and discuss whether it is suitable for machine learning.
print(df1.size)
print(len(df1))

print(df2.size)
print(len(df2))

18340
1310
6000000
1000000

In [39]:
# 7.Write clear observations about data quality issues like missing values or imbalance.
print(df1.isnull().sum())
print(df1['survived'].value_counts())
print(df1['survived'].value_counts(normalize=True)*100)

print(df2.isnull().sum())
print(df2['grade'].value_counts())
print(df2['grade'].value_counts(normalize=True)*100)

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64
survived
0.0    809
1.0    500
Name: count, dtype: int64
survived
0.0    61.802903
1.0    38.197097
Name: proportion, dtype: float64
student_id                 0
weekly_self_study_hours    0
attendance_percentage      0
class_participation        0
total_score                0
grade                      0
dtype: int64
grade
A    548644
B    258174
C    141980
D     44998
F      6204
Name: count, dtype: int64
grade
A    54.8644
B    25.8174
C    14.1980
D     4.4998
F     0.6204
Name: proportion, dtype: float64